<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								{{#each newsItems}}

								<h3>{{this.category}}</h3>
								 <ul>
									{{#each articles}}
										<li><a href="{{this.url}}">{{this.title}}</a></li>
									{{/each}}

									
								</ul>
								
								{{/each}}
							</div>
							<div>
								<h1>News</h1>
								{{#with newsItems.[0]}}
								<img src="images/{{articles.[4].image}}" alt="Img">
								<h2>{{articles.[4].title}}</h2>
								<span class="time">{{articles.[4].date}}<br> by: {{articles.[4].author}}</span>
								{{{articles.[4].longDesc}}}
								{{/with}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>